@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:wght@300;500&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@500&family=Bungee&display=swap');

body {
    color: black;
    background-color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('../images/beach.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    font-family: 'Bungee', sans-serif;
    font-size: 20px;;
}

h3, .res-title {
    color:#FFFFFF;
    background-color: #FFA07A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6.5px;
    border: 1px solid #FFA07A;
    border-radius: 5px;
}

p {
    padding-left: 10px;
}

h4 {
    padding-left: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #20B2AA;
    text-align: center;
}

nav li {
  display: inline-block;
  width: 20%;
  margin-right: -4px;
}

nav a {
  display: block;
  text-decoration: none;
}

ul a:link {
    color: white;
}

ul a:visited {
    color: white;
}

ul a:hover {
    color: black;
}

section {
    background: rgba(255, 239, 213, 0.7);
    padding: 7px;
}

footer {
    color: white;
    background: #20B2AA;
}

a {
    padding-left: 5px;
    padding-bottom: 5px;
}

#reminder-banner {
    padding: .5rem;
    background-color: #ffc756;
    color: black;
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: black;
  }

  form fieldset {
    margin: 2rem 0;
    border: 1px solid #20B2AA;
    border-radius: 10px;
    padding: .5rem 2%;
    padding: 7px;
}

form legend {
    color: white;
    margin: 0 1rem;
    padding: 0 .5rem;
    background: #FFA07A;
    padding: 7px;
    border: 1px solid #FFA07A;
    border-radius: 5px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #333;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #20B2AA;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input.submitBtn:hover {
    background-color: #FFA07A;
}

form label.top input:required {
    border: #d65353 solid 3px;
}

form label.top input:required:valid {
    border: #59ad6b  solid 3px;
}

form textarea {
    display: block;
    padding-top: 1rem;
    color: #456685;
    font-size: 18px;
    border: none;
    border-radius: 1rem;
    width: max-content;
}

input[type='number'] {
    width: 5rem;
    text-align: center;
} 

form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.thankyou {
    font-size: larger;
}

table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color: #ffe2b2;
}

  tr:nth-child(odd){
    background-color: #ffefd5;
}
  
  tr:hover {
    background-color: #20B2AA;
    color: white;
}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFA07A;
    color: white;
  }